/**
 * Move the @atlaskit/flag container up a little bit so it does not cover the
 * toolbar with the first notification.
 */
.jIMojv{
    bottom: calc(#{$newToolbarSizeWithPadding}) !important;
}

/**
 * Override button styles
 */
a.fUcuXK {
  color: $welcomePageButtonTextColor !important;
}

.bCXtHB, .gwSNcJ {
  color: $welcomePageButtonTextColor !important;
  background: none;
  border: 1px solid $welcomePageButtonTextColor;
}

/**
 * Disable the slide-in animation for @atlaskit/flag due to the animation
 * repeating for each queued flag once it becomes the top flag.
 */
 .mIBKA:first-child {
    animation: cbfRuT 0s !important;
    -webkit-animation: cbfRuT 0s !important;
}

.modal-dialog-form {
    /**
     * Update the @atlaskit/dropdown-menu trigger wrapper to make sure it looks
     * click-able.
     */
    .cjJUnw {
        cursor: pointer;
    }

    /**
     * Override @atlaskit/dropdown-menu styling when in a modal because the
     * dropdown backgrounds clash with the modal backgrounds.
     */
    .cksvax[data-role=droplistContent] {
        border: 1px solid #455166;
    }
}

/**
 * Override @atlaskit/theme styling for the top toolbar so it displays over
 * the video thumbnail while obscuring as little as possible.
 */
.videocontainer .tOoji {
    background: none;
}

/**
 * Override @atlaskit/InlineDialog styling for the overflowmenu so it displays
 * with the correct height.
 */
.toolbox-button-wth-dialog .eYJELv {
    max-height: initial;
}

/**
 * CSS overrides for inline dialog pop-ups in header chat control button,
 * adjusting the top padding
 */
.user-chat-control-button .eCFUHs {
    padding: 0px 24px;
}

.chat-header-control-button .eCFUHs {
    padding: 0px 24px;
}

/**
 * Keep overflow menu within screen vertical bounds and make it scrollable.
 */
.toolbox-button-wth-dialog > div:nth-child(2) {
    background: $menuBG;
    max-height: calc(100vh - #{$newToolbarSizeWithPadding} - 46px);
    margin-bottom: 4px;
    padding: 0;
    overflow-y: auto;
}

.audio-preview > div > div:nth-child(2) > div > div,
.video-preview > div > div:nth-child(2) > div > div,
.reactions-menu-popup > div:nth-child(2) {
    margin-bottom: 4px;
    outline: none;
    padding: 0;
}

.reactions-menu-popup > div:nth-child(2) {
    margin-bottom: 6px;
    box-shadow: none;
}
