/* Functions */

/* Pixels to Ems function */
@function em($value, $base: 16) {
    @return #{$value / $base}em;
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

$hueStep: 2;
$saturationStep: 0.16;
$saturationStep2: 0.05;
$brightnessStep1: 0.05;
$brightnessStep2: 0.15;
$lightColorCount: 5;
$darkColorCount: 4;

@function getHue($color, $index, $isLight) {
    $h: hue($color);
    $hue: 0;
    @if $h >= 60 and $h <= 240 {
        $hue: if($isLight, $h - $hueStep * $index, $h + $hueStep * $index);
    } @else {
        $hue: if($isLight, $h + $hueStep * $index, $h - $hueStep * $index);
    }
    @if $hue < 0 {
        $hue: $hue + 360;
    } @else if $hue >= 360 {
        $hue: $hue - 360;
    }

    @return round($hue);
}

@function getSaturation($color, $index, $isLight) {
    $s: saturation($color);
    $saturation: 0;

    @if $isLight {
        $saturation: $s - $saturationStep * $index;
    } @else if $index == $darkColorCount {
        $saturation: $s + $saturationStep;
    } @else {
        $saturation: $s + $saturationStep2 * $index;
    }
      
    @if $saturation > 1 {
        $saturation: 1;
    }
    @if $isLight and $index == $lightColorCount and $saturation > 0.1 {
        $saturation: 0.1;
    }
    @if $saturation < 0.06 {
        $saturation: 0.06;
    }

    @return $saturation;
}

@function getValue($color, $index, $isLight) {
    $v: lightness($color);
    $value: if($isLight, $v + $brightnessStep1 * $index, $v - $brightnessStep2 * $index);

    @if $value > 1 {
      $value: 1;
    }

    @return $value;
}

@function hsv_to_hsl($h, $s, $v) {
    $lightness: (2 - $s) * $v / 2;
    @if $lightness != 0 {
        @if $lightness == 1 {
            @return hsl($h, 0, $lightness);
        } @else if $lightness < 0.5 {
            @return hsl($h, $s * $v / ($lightness * 2), $lightness);
        } @else {
            @return hsl($h, $s * $v / (2 - $lightness * 2), $lightness);
        }
    }

    @return hsl($h, $s, $lightness);
}

@function colorPalette($color, $index) {
    $isLight: $index <= 6;
    $index: if($isLight, $lightColorCount + 1 - $index, $index - $lightColorCount - 1);

    @return hsv_to_hsl(
        getHue($color, $index, $isLight),
        getSaturation($color, $index, $isLight),
        getValue($color, $index, $isLight)
    );
};
