.subject {
    top: -120px;
    transition: top .3s ease-in;
    height: 95px;
    width: 100%;
    pointer-events: none;
    position: absolute;
    padding: 25px 140px 0 140px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    z-index: $zindex10;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.visible {
        top: 0px;
    }

    &-text {
        display: flex;
        vertical-align: middle;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        padding: 2px 16px;

        &.editable {
            pointer-events: auto;
            cursor: pointer;
    
            &:hover {
                padding-right: 34px;
        
                .button {
                    visibility: visible;
                }
            }
        }
    
        .button {
            padding: 4px;
            border-radius: 5px;
            position: absolute;
            right: 4;
            visibility: hidden;
        }
    }

    &-conference-timer {
        display: inline-block;
        font-size: 15px;
        opacity: 0.6;
    }
}
