body.welcome-page {
    background: inherit;
    overflow: auto;
}

.welcome {
    font-family: $welcomePageFontFamily;
    background: $welcomePageBackground;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;

    .header {
        width: 100%;
        position: fixed;
        top: 0;
        background: white;
        z-index: 2;
        font-size: 14px;

        .container {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            padding: 0 1em;
            box-sizing: border-box;

            @include media-breakpoint-up(md) {
                padding: 0 3rem;
            }
        }

        .watermark {
            display: flex;
            justify-content: start;
            align-items: center;
            height: $watermarkHeight;
            z-index: $zindex2;
        
            .leftwatermark {
                margin: 0;
                max-height: 20px;
                position: relative;
        
                @include media-breakpoint-up(md) {
                    max-height: 36px;
                }
            }
            
            .rightwatermark {
                right: 32px;
                top: 32px;
                background-position: center right;
            }
        }

        .img {
            width: 24px;
            height: 24px;
            margin-right: 6px;
        }

        .toolbars {
            z-index: $zindex2;
            display: inline-flex;
            align-items: center;

            .desktop.button {
                display: none;

                @include media-breakpoint-up(md) {
                    display: flex;
                }
            }

            .menu-container {
                background-color: white;
            }

            .menu-item {
                min-width: 100px;
                min-height: 40px;
                text-align: left;
                background: white;
                fill: white;
                color: $welcomePageButtonTextColor;
                font-weight: normal;
                
                &:hover {
                    background: rgba(0,0,0,.1);
                }

                .badge {
                    margin-left: 5px;
                    display : inline-flex;
                }
            }

            .menu-item {
                &.mobile {
                    display: flex;
    
                    @include media-breakpoint-up(md) {
                        display: none;
                        min-height: 0;
                        max-height: 0;
                    }
                }
            }

            button, .button {
                color: $welcomePageButtonTextColor !important;
                height: 40px;
                line-height: 40px;
                background: none;

                &:hover {
                    color: $welcomePageButtonTextColor !important;
                    background: rgba(0,0,0,.1);
                }
            }

            .primary.button {
                border: 1px solid #d2d2d2;
                background: none;
                
                &:hover {
                    color: $welcomePageButtonTextColor !important;
                    background: rgba(0,0,0,.1);
                }
            }

            .cLrmQm button {
                padding-right: 0;
            }

            .iwHKVI {
                background: white;
                border: 1px solid #d2d2d2;
            }
        }

        .divider {
            border-color: rgba(255,255,255,0.3);
            border-width: 1px 0 0 0;

            &.mobile {
                @include media-breakpoint-up(md) {
                    display: none;
                    min-height: 0;
                    max-height: 0;
                }
            }
        }
    }

    .welcome-content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$welcomePageHandlerHeight});
        overflow-y: auto;
        margin-top: $welcomePageHandlerHeight;

        .bg-wrapper {
            display: block;

            @include media-breakpoint-up(md) {
                display: flex;
                flex-grow: 1;
            }
        }

        .content-wrapper {
            justify-content: space-evenly;
            max-width: $maxContentWidth;
            width: 100%;
            margin: 0 auto;
            display: block;
            text-align: center;

            @include media-breakpoint-up(md) {
                text-align: left;
                display: inline-flex;
            }
        }

        .intro-wrapper {
            padding: 0em 1em 2em;
            max-width: 39rem;
            display: inline-flex;
            flex-direction: column;
            flex-basis: 35rem;
            flex-shrink: 1;
            margin: 0 auto;
            border-bottom: 1px solid #eee;
            word-break: keep-all;

            @include media-breakpoint-up(md) {
                max-width: 35rem;
                padding: 3em 1em 0em 4em;
                margin: 0;
                border-bottom: 0;
            }
        }

        .header-image {
            display: block;
            width: 100%;
            max-width: 39rem;
            margin: 0 auto;

            @include media-breakpoint-up(md) {
                display: inline-flex;
                width: initial;
                max-width: initial;
                padding: 4em 4em 0em 1em;
                flex-basis: 45%;
                margin: 0;
            }

            iframe {
                width: 100%;
                height: 315px;
            }
        }
    }

    .header, .footer {
        .container {
            margin: 0 auto;
            max-width: $maxContentWidth;
            word-break: keep-all;
        }
    }

    .header-image {
        .img-wrapper {
            padding: 1.5rem;
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
            border-radius: 0.5rem;

            img {
                object-fit: contain;
                border-radius: 0.5rem;
                width: 100%;
                max-width: 50rem;
            }
        }
    }

    .header-text {
        display: $welcomePageHeaderTextDisplay;
        flex-direction: column;
        margin-top: $welcomePageHeaderTextMarginTop;
        margin-bottom: $welcomePageHeaderTextMarginBottom;
        color: white;
    }

    .header-text-title {
        color: $welcomePageTitleColor;
        font-size: 28px;
        font-weight: $welcomePageHeaderTextTitleFontWeight;
        line-height: $welcomePageHeaderTextTitleLineHeight;
        margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
        opacity: $welcomePageHeaderTextTitleOpacity;

        @include media-breakpoint-up(md) {
            font-size: $welcomePageHeaderTextTitleFontSize;
        }
    }

    .header-text-description {
        display: none;
        color: $welcomePageDescriptionColor;
        font-size: $welcomePageHeaderTextDescriptionFontSize;
        font-weight: $welcomePageHeaderTextDescriptionFontWeight;
        line-height: $welcomePageHeaderTextDescriptionLineHeight;
        margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
        align-self: $welcomePageHeaderTextDescriptionAlignSelf;
        word-break: keep-all;

        @include media-breakpoint-up(md) {
            display: $welcomePageHeaderTextDescriptionDisplay;
        }
    }

    .enter-room {
        display: $welcomePageEnterRoomDisplay;
        align-items: center;
        max-width: 100%;
        background-color: transparent;
        border-radius: $welcomePageEnterRoomBorderRadius;
        color: $welcomePageDescriptionColor;
        font-size: $welcomePageHeaderTextDescriptionFontSize;
        font-weight: $welcomePageHeaderTextDescriptionFontWeight;
        
        .enter-room-input-container {
            width: 100%;
            margin: $welcomePageEnterRoomInputContainerPadding;
            text-align: left;
            color: #253858;
            height: fit-content;
            border: 1px solid #dadce0;
            border-radius: 4px;
            display: flex;
            align-items: center;

            span {
                color: #253858;
                margin-left: 4px;
                margin-right: 4px;
                font-weight: bold;  
            }
            
            form: {
                margin-bottom: 0;
            }

            .virtual-tenant {
                display: inline-block;
                position: absolute;
                font-weight: bold;
                visibility: hidden;
            }
            
            .tenant-input {
                margin-left: 16px;
                font-weight: bold;
                border: none;
                padding: 0px;
                border-radius: 4px;
                background-color: transparent !important;
            }

            .tenant-input:focus {
                outline: none;
            }

            .room-form {
                flex-grow: 1;
            }

            .enter-room-input {
                display: inline;
                width: 100%;
                font-size: 16px;
                padding: 16px 16px 16px 0;
                border: none;
                border-radius: 4px;
                background-color: transparent !important;
            }

            .insecure-room-name-warning {
                align-items: center;
                color: $defaultWarningColor;
                display: flex;
                flex-direction: row;
                margin-top: 5px;

                .jitsiIcon {
                    margin-right: 15px;

                    svg {
                        fill: $defaultWarningColor
                    }
                }
            }

            ::placeholder {
                color: #253858;
                font-weight: normal;
            }
        }

    }

    .help-message {
        padding: 5px;
        color: #343a40;
        font-size: 15px;
    }

    #moderated-meetings {
        max-width: calc(100% - 40px);
        padding: 16px 0 39px 0;
        width: $welcomePageEnterRoomWidth;

        p {
            color: $welcomePageDescriptionColor;
            text-align: left;

            a {
                color: inherit;
                font-weight: 600;
            }
        }
    }

    .tab-container {
        font-size: 16px;
        text-align: left;
        width: 100%;
        max-width: $maxContentWidth;
        background: white;
        display: $welcomePageTabContainerDisplay;
        margin: 0 auto 2rem auto;
        flex-grow: 1;

        .tab-content{
            display: $welcomePageTabContentDisplay;
            overflow: hidden;
            flex-grow: 1;
            position: relative;
        }

        .tab-buttons {
            font-size: 18px;
            color: #FFFFFF;
            display: $welcomePageTabButtonsDisplay;
            flex-grow: 0;
            flex-direction: row;
            min-height: 54px;
            width: 100%;

            .tab {
                display: $welcomePageTabDisplay;
                text-align: center;
                font-weight: bold;
                background: rgba(9,30,66,0.10);
                border-radius: 7px;
                height: 55px;
                line-height: 54px;
                flex-grow: 1;
                cursor: pointer;
                margin: auto;
            
                &.selected, &:hover {
                    background: rgba(9,30,66,0.37);
                }
            }

            .current-tab {
                display: $welcomePageTabDisplay;
                text-align: center;
                font-weight: bold;
                background: rgba(179,230,255,0.7);
                border-radius: 7px;
                height: 55px;
                line-height: 54px;
                flex-grow: 1;
                cursor: pointer;
                margin: auto;
            
                &.selected, &:hover {
                    background: rgba(94, 198, 250, 0.7);
                }
            }
        }

        .light-modal {
            background-color: #ffffff;
            color: #000000;
        }
    }

    .welcome-page-button {
        min-width: $welcomePageButtonMinWidth;
        font-size: $welcomePageButtonFontSize;
        font-weight: $welcomePageButtonFontWeight;
        background: #3B475C;
        border-radius: $welcomePageButtonBorderRadius;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
        white-space: nowrap;
        padding: 8px 16px;

        &.disabled {
          color: rgba(0,0,0,0.65);
          background: #f5f5f5;
          border-color: #d9d9d9;
          pointer-events: none;
          padding: 7px 16px;
          border: 1px solid #ccc;
        }
    }

    .header-toolbars {
        z-index: $zindex2;
        margin-right: 16px;

        .welcome-page-settings {
            color: $welcomePageDescriptionColor;
    
            * {
                cursor: pointer;
                font-size: 32px;
            }
        }

        .button {
            color: $welcomePageButtonTextColor !important;
        }

        .toolbox-icon {
            height: 24px;
            width: 24px;
        }
    }

    .welcome-watermark {
        .watermark.leftwatermark {
            width: $welcomePageWatermarkWidth;
            height: $welcomePageWatermarkHeight;
        }
    }

    .user-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .avatar {
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 6px;
            color: white;
            line-height: 24px;
        }

        .badge {
            margin-left: 5px;
            display: inline-flex;
        }
    }

    .footer {
        width: 100%;
        background-color: #343a40 !important;
        font-size: 16px;
        z-index: 1;
        display: block;

        .container {
            box-sizing: border-box;
            padding: 1.5em 2em;

            @include media-breakpoint-up(md) {
                padding: 1.5em 4em;
            }

            .copyright {
                margin-bottom: 4px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 13px;
            }

            .nav {
                display: block;

                a {
                    margin-right: 16px;
                    color: white;

                    &:hover {
                      text-decoration: none;
                    }
                }
            }
        }
    }
}
