.consent-message{
    text-align: justify;
    min-height: 210px;
}

.consent-message-kr{
    text-align: justify;
    min-height: 187px;
}

.consent-message-login{
    text-align: justify;
    min-height: 100px;
}


.did-v2-font{
    font-size: 14px;
}



// .consent-form-input-textbox{
//     -webkit-align-items: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     background-color: #0E1624;
//     border-color: #202B3D;
//     border-radius: 3px;
//     border-style: solid;
//     box-sizing: border-box;
//     color: #B8C7E0;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-flex: 1 0 auto;
//     -ms-flex: 1 0 auto;
//     flex: 1 0 auto;
//     font-size: 14px;
//     -webkit-box-pack: justify;
//     -webkit-justify-content: space-between;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     line-height: 32px;
//     height: 32px;
//     // line-height: 1.1428571428571428;
//     max-width: 100%;
//     overflow: hidden;
//     -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
//     transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
//     word-wrap: break-word;
//     border-width: 2px;
//     padding: 2px 6px;
//     width: 105px;
//     padding: 5px 7px;
//     // border-radius: $borderRadius;
//     // line-height: 25px;
//     // text-align: left;
//     // margin-bottom: 8px;
// }


.consent-form-input-textbox{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0E1624;
    border-color: #202B3D;
    border-radius: 3px;
    border-style: solid;
    box-sizing: border-box;
    color: #B8C7E0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 14px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    // line-height: 1.1428571428571428;
    line-height: 32px;
    height: 32px;
    max-width: 100%;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    word-wrap: break-word;
    border-width: 2px;
    padding: 2px 6px;
    width: 165px;
}

.consent-form-input-textbox:focus{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0E1624;
    border-color: #B3D4FF;
    border-radius: 3px;
    border-style: solid;
    box-sizing: border-box;
    color: #B8C7E0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 14px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    // line-height: 1.1428571428571428;
    line-height: 32px;
    height: 32px;
    max-width: 100%;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    word-wrap: break-word;
    border-width: 2px;
    padding: 2px 6px;
    width: 165px;
}




.consent-form{
    display: flex;
    margin-top: 3px;
}

.consent-form-phone{
    display: flex;
    margin-top: 7px;
}

.consent-form-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.consent-form-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



.consent-form-title{
    flex: 3;
}

.consent-form-phone-title-kr{
    flex: 3;
    padding-top:7px;
}

.consent-form-phone-title{
    flex: 3;
    padding-top:5px;
}

.consent-form-input{
    flex: 4;
}

.consent-form-gap{
    flex: 1;
}

.consent-phone-error{
    display: flex;
}

.consent-phone-error .title{
    flex:3;
}

.consent-phone-error .error{
    padding-top: 2px;
    flex:5;
    color: #fd5757;
    font-size: 12px;
}


.consent-two-info{
   padding-bottom: 30px; 
}

.consent-two-info-kr{
   padding-bottom: 15px; 
}

.consent-two-wrapper .phone-info-block{

}

.prev-next-button-wrapper{
    float: right;
    padding: 22px 0px 24px 24px;
}

.consent-three-wrapper{
    display: flex;    
}

.consent-three-wrapper .barcode{
    flex: 2.2;
    margin-right: 16px;
    max-width: calc(50% - 16px);
}

.barcode > img {
    width: 100%;
    height: 100%;
}

.consent-three-wrapper .consent-three-info{
    flex: 2;    
}

.view-more{
    float: right;
    margin-top: 12px;
    font-weight: bold;
}

.view-more-kr{
    float: right;
    margin-top: 20px;
    font-weight: bold;
}

.consent-header-class{
    letter-spacing: -0.8;
}