.speaker-stats {
    list-style: none;
    width: 100%;
    font-weight: 500;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;

    &-title {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
        .button {
            cursor: pointer;
            padding: 4px 8px;
            border-radius: 5px;
    
            &:hover {
                background: $overflowMenuItemHoverBG;
            }
    
            &.pressed {
                background: $overflowMenuItemHoverBG;
            }
        }
    }
    
    &-divider {
        border-color: rgba(255,255,255,0.3);
        border-width: 1px 0 0 0;
        margin: -5px 0 10px 0;
    }
    
    &-searchbox {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        
        .close-icon {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 8px;
            color: gray;
        }
    }
    
    &-item {
        display: flex;
        align-items: center;
        margin: 0 5px;

        &__labels {
            font-weight: bold;
            margin: 5px 5px;
        }
    
        &__status-dot {
            position: relative;
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            margin: 0 auto;
    
            &.status-active {
                background: green;
            }
    
            &.status-inactive {
                background: gray;
            }
        }
    
        &__name,
        &__s_time,
        &__l_time {
            display: inline-flex;
            margin: 5px 0;
            vertical-align: middle;
        }
        &__name {
            display: inline-flex !important;
            padding: 0 16px 0 0;
            box-sizing: border-box;
            width: 40%;
    
            .name {
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__s_time {
            width: 20%;
        }
        &__l_time {
            width: 20%;
        }
        &__duration {
            display: inline-block;
            margin: 5px 0;
            vertical-align: middle;
            width: 20%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        &__name,
        &__s_time,
        &__l_time,
        &__duration {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        &__refresh {
            width: 5%;
            display: inline-block;
            margin: 5px 0;
            vertical-align: middle;
        }
    }
    
    .status-user-left {
        color: $placeHolderColor;
    }

    .speaker-stats-item__status,
    .speaker-stats-item__name,
    .speaker-stats-item__time,
    .speaker-stats-item__name_expressions_on,
    .speaker-stats-item__time_expressions_on,
    .speaker-stats-item__expression {
        display: inline-block;
        margin: 5px 0;
        vertical-align: middle;
    }
    .speaker-stats-item__status {
        width: 5%;
    }
    .speaker-stats-item__name {
        width: 40%;
    }
    .speaker-stats-item__time {
        width: 55%;
    }
    .speaker-stats-item__name_expressions_on {
        width: 20%;
    }
    .speaker-stats-item__time_expressions_on {
        width: 25%;
    }

    .speaker-stats-item__expression {
        width: 7%;
        text-align: center;
    }

    @media(max-width: 750px) {
        .speaker-stats-item__name_expressions_on {
            width: 25%;
        }
        .speaker-stats-item__time_expressions_on {
            width: 30%;
        }
        .speaker-stats-item__expression {
            width: 10%;
        }
    }

    .speaker-stats-item__name,
    .speaker-stats-item__time,
    .speaker-stats-item__name_expressions_on,
    .speaker-stats-item__time_expressions_on,
    .speaker-stats-item__expression {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
