// .gif {
//     position: relative;
//     top: 60%;
//     left: 15%;
//     height: 150px;
// }

// .imgWrap{
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
// }

.customLabel{
    font-size: 20px;
    background-color: #1ec26a;
    height: 35px;
    width: 145px;
    top:50%;
    bottom:50%;
}

.customLabelRed{
    font-size: 20px;
    background-color: #de3849;
    height: 35px;
    width: 145px;
    top:50%;
    bottom:50%;
}

.labelContainer{
    position: relative;
}
