@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../../css/variables';


.List {
    -ms-overflow-style: none;

}

.List::-webkit-scrollbar {
    display: none;
}

.Heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 16px;
}

.AdmitAll {
    color: #669AEC;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.16px;
    margin-right: 16px;
}