@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../../../css/variables";

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.resetButtonContainer {
    position: relative;
}

.resetButton{
    position: absolute;
    bottom: 3px;
}

.settingHeader{
    margin-top: 10px;
}
.settingHeader span{
    font-weight: bold;
}

.col {
    margin-right: 10px;
    flex: 1;
}

.coll {
    margin-right: 10px;
    flex: 2;
}

.buttonGroup{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

