.stt {
    &-dialog {
        color: #fff;
        font-size: 15px;
        line-height: 24px;

        .separator-line {
            margin: 24px 0 24px -20px;
            padding: 0 20px;
            width: 100%;
            height: 1px;
            background: #5E6D7A;

            &:last-child {
                display: none;
            }
        }
    }

    &-spinner {
        display: flex;
        justify-content: center;
        height: 30px;
        margin-top: 8px;
    }
}

.stt-section {
    display: flex;
    flex-direction: column;

    .description {
        font-size: 13px;
    }

    .control-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;

        label {
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.new-toolbox .toolbox-content .toolbox-icon.toggled.stt-toolbar-button {
    border-width: 0;

    &:not(:hover) {
        background: unset;
    }
}