@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../../css/variables';

body {
    font-size: 14px;
}

.welcome {
    font-family: $welcomePageFontFamily;
    background: $welcomePageBackground;
    box-sizing: border-box;
    overflow: hidden;

    .header {
        width: 100%;
        position: fixed;
        top: 0;
        background: white;
        z-index: 2;
    
        .container {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            padding: 0 1em;
            box-sizing: border-box;

            @include media-breakpoint-up(md) {
                padding: 0 3rem;
            }
        }

        .watermark {
            padding: 0;
        }
    
        .userContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .avatar {
                width: 24px;
                height: 24px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 6px;
                color: white;
                line-height: 24px;
            }
            .badge {
                margin-left: 5px;
            }
        }

        .img{
            width: 24px;
            height: 24px;
            margin-right: 6px;
        }
    
        .toolbars {
            z-index: $zindex2;
            display: inline-flex;
            align-items: center;

            .welcomePageSettings {
                color: $welcomePageDescriptionColor;
        
                * {
                    cursor: pointer;
                    font-size: 32px;
                }
            }
    
            .desktop.button {
                display: none;

                @include media-breakpoint-up(md) {
                    display: flex;
                }
            }

            .menuItem {
                min-width: 100px;
                min-height: 40px;
                text-align: left;

                .badge {
                    margin-left: 5px;
                    display : inline-flex;
                }
            }

            .mobile.menuItem {
                display: flex;

                @include media-breakpoint-up(md) {
                    display: none;
                }
            }

            button, .button {
                color: $welcomePageButtonTextColor !important;
                height: 40px;

                &:hover {
                    color: $welcomePageButtonTextColor !important;
                    background: rgba(0,0,0,.1);
                }
            }

            .primary.button {
                border: 1px solid #d2d2d2;
                background: none;
                
                &:hover {
                    color: $welcomePageButtonTextColor !important;
                    background: rgba(0,0,0,.1);
                }
            }

            :global .cLrmQm button {
                border: 1px solid #d2d2d2;
                background: none;
                
                &:hover {
                    color: $welcomePageButtonTextColor !important;
                    background: rgba(0,0,0,.1);
                }
            }

            :global .cLrmQm button {
                padding-right: 0;
            }

            :global .cksvax {
                background: white;
                border: 1px solid #d2d2d2;
            }

            :global .jxcBAF, :global .jXQlZM {
                background: white;
                fill: white;
                color: $welcomePageButtonTextColor;

                &:hover {
                    background: rgba(0,0,0,.1);
                }
            }
        }
    }

    .header, .footer {
        .container {
            margin: 0 auto;
            max-width: $maxContentWidth;
            word-break: keep-all;
        }
    }

    .welcomeContent {
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$welcomePageHandlerHeight});
        overflow-y: auto;
        margin-top: $welcomePageHandlerHeight;

        .banner {
            min-height: 54px;
            background-color: #42526E;

            & > div {
                margin: 0 auto;
                max-width: $maxContentWidth;

                & > div {
                    overflow: hidden;
                    padding-left: 1em;
    
                    @include media-breakpoint-up(md) {
                        padding-left: 4em;
                    }
    
                    & > div {
                        justify-content: flex-start;
                        max-width: initial;
                        padding: 12px 0;
                    }
                }
            }
        }

        .bgWrapper {
            display: block;

            @include media-breakpoint-up(md) {
                display: flex;
                flex-grow: 1;
            }
        }

        .contentWrapper {
            justify-content: space-evenly;
            max-width: $maxContentWidth;
            width: 100%;
            margin: 0 auto;
            display: block;
            text-align: center;

            @include media-breakpoint-up(md) {
                text-align: left;
                display: inline-flex;
            }
        }

        .introWrapper {
            padding: 0em 1em 2em;
            max-width: 39rem;
            display: inline-flex;
            flex-direction: column;
            flex-basis: 35rem;
            flex-shrink: 1;
            margin: 0 auto;
            border-bottom: 1px solid #eee;
            word-break: keep-all;

            @include media-breakpoint-up(md) {
                max-width: 35rem;
                padding: 3em 1em 6em 4em;
                margin: 0;
                border-bottom: 0;
            }
        }

        .headerImage {
            display: block;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 39rem;
            margin: 0 auto;

            @include media-breakpoint-up(md) {
                display: inline-flex;
                width: initial;
                max-width: initial;
                padding: 1em 2em 0em 0;
                flex-basis: 45%;
                margin: 0;
            }

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .headerImage {
        .imgWrapper {
            padding: 1.5rem;
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
            border-radius: 0.5rem;

            img {
                object-fit: contain;
                border-radius: 0.5rem;
                width: 100%;
                max-width: 50rem;
            }
        }
    }

    .headerText {
        display: $welcomePageHeaderTextDisplay;
        flex-direction: column;
        margin-top: $welcomePageHeaderTextMarginTop;
        margin-bottom: $welcomePageHeaderTextMarginBottom;
        color: white;
    }

    .headerTextTitle {
        color: $welcomePageTitleColor;
        font-size: 28px;
        font-weight: $welcomePageHeaderTextTitleFontWeight;
        line-height: $welcomePageHeaderTextTitleLineHeight;
        margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
        opacity: $welcomePageHeaderTextTitleOpacity;

        @include media-breakpoint-up(md) {
            font-size: $welcomePageHeaderTextTitleFontSize;
        }
    }

    .headerTextDescription {
        display: none;
        color: $welcomePageDescriptionColor;
        font-size: $welcomePageHeaderTextDescriptionFontSize;
        font-weight: $welcomePageHeaderTextDescriptionFontWeight;
        line-height: $welcomePageHeaderTextDescriptionLineHeight;
        margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
        align-self: $welcomePageHeaderTextDescriptionAlignSelf;
        word-break: keep-all;

        @include media-breakpoint-up(md) {
            display: $welcomePageHeaderTextDescriptionDisplay;
        }
    }

    .enterRoom {
        display: $welcomePageEnterRoomDisplay;
        align-items: center;
        max-width: 100%;
        background-color: transparent;
        border-radius: $welcomePageEnterRoomBorderRadius;
        color: $welcomePageDescriptionColor;
        font-size: $welcomePageHeaderTextDescriptionFontSize;
        font-weight: $welcomePageHeaderTextDescriptionFontWeight;
        
        .enterRoomInputContainer {
            width: 100%;
            margin: $welcomePageEnterRoomInputContainerPadding;
            text-align: left;
            color: #253858;
            height: fit-content;
            border: 1px solid #dadce0;
            border-radius: 4px;
            display: flex;
            align-items: center;

            .tenant {
                padding: 8px 0 8px 16px;
                font-weight: bold;
                cursor: text;

                span {
                    margin-right: 4px;
                }
            }

            &.editTenant {
                .tenant {
                    display: none;
                }

                .enterRoomInput {
                    padding: 16px;
                }
            }

            form {
                flex-grow: 1;
            }

            .enterRoomTitleContainer {
                vertical-align: bottom;

                :first-child {
                    margin-right: 10px;
                }

                .enterRoomLoginRequired {
                    color: $chatPrivateMessageBackgroundColor;
                }
            }

            .enterRoomTitle {
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 5px;
            }

            .enterRoomInput {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                padding: 16px 16px 16px 0;
                border: none;
                border-radius: 4px;
                background-color: transparent !important;
            }

            .insecureRoomNameWarning {
                align-items: center;
                color: $defaultWarningColor;
                display: flex;
                flex-direction: row;
                margin-top: 5px;

                .jitsiIcon {
                    margin-right: 15px;

                    svg {
                        fill: $defaultWarningColor
                    }
                }
            }

            ::placeholder {
                color: #253858;
            }
        }

    }

    .helpMessage {
        padding: 5px;
        color: #343a40;
        font-size: 15px;
    }

    #moderated-meetings {
        max-width: calc(100% - 40px);
        padding: 16px 0 39px 0;
        width: $welcomePageEnterRoomWidth;

        p {
            color: $welcomePageDescriptionColor;
            text-align: left;

            a {
                color: inherit;
                font-weight: 600;
            }
        }
    }

    .tabContainer {
        font-size: 16px;
        text-align: left;
        width: 100%;
        max-width: $maxContentWidth;
        background: white;
        display: $welcomePageTabContainerDisplay;
        margin: 0 auto 2rem auto;
        flex-grow: 1;

        .tabContent{
            display: $welcomePageTabContentDisplay;
            overflow: hidden;
            flex-grow: 1;
            position: relative;
        }

        .tabButtons {
            font-size: 18px;
            color: #FFFFFF;
            display: $welcomePageTabButtonsDisplay;
            flex-grow: 0;
            flex-direction: row;
            min-height: 54px;
            width: 100%;

            .tab {
                display: $welcomePageTabDisplay;
                text-align: center;
                background: rgba(9,30,66,0.37);
                height: 55px;
                line-height: 54px;
                flex-grow: 1;
                cursor: pointer;

                &.selected, &:hover {
                    background: rgba(9,30,66,0.71);
                }

                &:last-child {
                    margin-left: 1px;
                }
            }
        }
    }

    .welcomePageButton {
        min-width: $welcomePageButtonMinWidth;
        font-size: $welcomePageButtonFontSize;
        font-weight: $welcomePageButtonFontWeight;
        background: #3B475C;
        border-radius: $welcomePageButtonBorderRadius;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
        white-space: nowrap;
        padding: 8px 16px;

        &.disabled {
          color: rgba(0,0,0,0.65);
          background: #f5f5f5;
          border-color: #d9d9d9;
          pointer-events: none;
          padding: 7px 16px;
          border: 1px solid #ccc;
        }
    }

    .footer {
        width: 100%;
        background-color: #343a40 !important;
        font-size: 16px;
        z-index: 1;
        display: block;

        .container {
            box-sizing: border-box;
            padding: 1.5em 2em;

            @include media-breakpoint-up(md) {
                padding: 1.5em 4em;
            }

            .copyright {
                margin-bottom: 4px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 13px;
            }

            .nav {
                display: block;

                a {
                    margin-right: 16px;
                    color: white;

                    &:hover {
                      text-decoration: none;
                    }
                }
            }
        }
    }
}

.popupMessage {
    word-break: keep-all;
}
