// Color
// color palettes
$blue-base: #1890ff;
$blue-1: colorPalette($blue-base, 1);
$blue-2: colorPalette($blue-base, 2);
$blue-3: colorPalette($blue-base, 3);
$blue-4: colorPalette($blue-base, 4);
$blue-5: colorPalette($blue-base, 5);
$blue-6: $blue-base;
$blue-7: colorPalette($blue-base, 7);
$blue-8: colorPalette($blue-base, 8);
$blue-9: colorPalette($blue-base, 9);
$blue-10: colorPalette($blue-base, 10);

$purple-base: #722ed1;
$purple-1: colorPalette($purple-base, 1);
$purple-2: colorPalette($purple-base, 2);
$purple-3: colorPalette($purple-base, 3);
$purple-4: colorPalette($purple-base, 4);
$purple-5: colorPalette($purple-base, 5);
$purple-6: $purple-base;
$purple-7: colorPalette($purple-base, 7);
$purple-8: colorPalette($purple-base, 8);
$purple-9: colorPalette($purple-base, 9);
$purple-10: colorPalette($purple-base, 10);

$cyan-base: #13c2c2;
$cyan-1: colorPalette($cyan-base, 1);
$cyan-2: colorPalette($cyan-base, 2);
$cyan-3: colorPalette($cyan-base, 3);
$cyan-4: colorPalette($cyan-base, 4);
$cyan-5: colorPalette($cyan-base, 5);
$cyan-6: $cyan-base;
$cyan-7: colorPalette($cyan-base, 7);
$cyan-8: colorPalette($cyan-base, 8);
$cyan-9: colorPalette($cyan-base, 9);
$cyan-10: colorPalette($cyan-base, 10);

$green-base: #52c41a;
$green-1: colorPalette($green-base, 1);
$green-2: colorPalette($green-base, 2);
$green-3: colorPalette($green-base, 3);
$green-4: colorPalette($green-base, 4);
$green-5: colorPalette($green-base, 5);
$green-6: $green-base;
$green-7: colorPalette($green-base, 7);
$green-8: colorPalette($green-base, 8);
$green-9: colorPalette($green-base, 9);
$green-10: colorPalette($green-base, 10);

$magenta-base: #eb2f96;
$magenta-1: colorPalette($magenta-base, 1);
$magenta-2: colorPalette($magenta-base, 2);
$magenta-3: colorPalette($magenta-base, 3);
$magenta-4: colorPalette($magenta-base, 4);
$magenta-5: colorPalette($magenta-base, 5);
$magenta-6: $magenta-base;
$magenta-7: colorPalette($magenta-base, 7);
$magenta-8: colorPalette($magenta-base, 8);
$magenta-9: colorPalette($magenta-base, 9);
$magenta-10: colorPalette($magenta-base, 10);

// alias of magenta
$pink-base: #eb2f96;
$pink-1: colorPalette($pink-base, 1);
$pink-2: colorPalette($pink-base, 2);
$pink-3: colorPalette($pink-base, 3);
$pink-4: colorPalette($pink-base, 4);
$pink-5: colorPalette($pink-base, 5);
$pink-6: $pink-base;
$pink-7: colorPalette($pink-base, 7);
$pink-8: colorPalette($pink-base, 8);
$pink-9: colorPalette($pink-base, 9);
$pink-10: colorPalette($pink-base, 10);

$red-base: #f5222d;
$red-1: colorPalette($red-base, 1);
$red-2: colorPalette($red-base, 2);
$red-3: colorPalette($red-base, 3);
$red-4: colorPalette($red-base, 4);
$red-5: colorPalette($red-base, 5);
$red-6: $red-base;
$red-7: colorPalette($red-base, 7);
$red-8: colorPalette($red-base, 8);
$red-9: colorPalette($red-base, 9);
$red-10: colorPalette($red-base, 10);

$orange-base: #fa8c16;
$orange-1: colorPalette($orange-base, 1);
$orange-2: colorPalette($orange-base, 2);
$orange-3: colorPalette($orange-base, 3);
$orange-4: colorPalette($orange-base, 4);
$orange-5: colorPalette($orange-base, 5);
$orange-6: $orange-base;
$orange-7: colorPalette($orange-base, 7);
$orange-8: colorPalette($orange-base, 8);
$orange-9: colorPalette($orange-base, 9);
$orange-10: colorPalette($orange-base, 10);

$yellow-base: #fadb14;
$yellow-1: colorPalette($yellow-base, 1);
$yellow-2: colorPalette($yellow-base, 2);
$yellow-3: colorPalette($yellow-base, 3);
$yellow-4: colorPalette($yellow-base, 4);
$yellow-5: colorPalette($yellow-base, 5);
$yellow-6: $yellow-base;
$yellow-7: colorPalette($yellow-base, 7);
$yellow-8: colorPalette($yellow-base, 8);
$yellow-9: colorPalette($yellow-base, 9);
$yellow-10: colorPalette($yellow-base, 10);

$volcano-base: #fa541c;
$volcano-1: colorPalette($volcano-base, 1);
$volcano-2: colorPalette($volcano-base, 2);
$volcano-3: colorPalette($volcano-base, 3);
$volcano-4: colorPalette($volcano-base, 4);
$volcano-5: colorPalette($volcano-base, 5);
$volcano-6: $volcano-base;
$volcano-7: colorPalette($volcano-base, 7);
$volcano-8: colorPalette($volcano-base, 8);
$volcano-9: colorPalette($volcano-base, 9);
$volcano-10: colorPalette($volcano-base, 10);

$geekblue-base: #2f54eb;
$geekblue-1: colorPalette($geekblue-base, 1);
$geekblue-2: colorPalette($geekblue-base, 2);
$geekblue-3: colorPalette($geekblue-base, 3);
$geekblue-4: colorPalette($geekblue-base, 4);
$geekblue-5: colorPalette($geekblue-base, 5);
$geekblue-6: $geekblue-base;
$geekblue-7: colorPalette($geekblue-base, 7);
$geekblue-8: colorPalette($geekblue-base, 8);
$geekblue-9: colorPalette($geekblue-base, 9);
$geekblue-10: colorPalette($geekblue-base, 10);

$lime-base: #a0d911;
$lime-1: colorPalette($lime-base, 1);
$lime-2: colorPalette($lime-base, 2);
$lime-3: colorPalette($lime-base, 3);
$lime-4: colorPalette($lime-base, 4);
$lime-5: colorPalette($lime-base, 5);
$lime-6: $lime-base;
$lime-7: colorPalette($lime-base, 7);
$lime-8: colorPalette($lime-base, 8);
$lime-9: colorPalette($lime-base, 9);
$lime-10: colorPalette($lime-base, 10);

$gold-base: #faad14;
$gold-1: colorPalette($gold-base, 1);
$gold-2: colorPalette($gold-base, 2);
$gold-3: colorPalette($gold-base, 3);
$gold-4: colorPalette($gold-base, 4);
$gold-5: colorPalette($gold-base, 5);
$gold-6: $gold-base;
$gold-7: colorPalette($gold-base, 7);
$gold-8: colorPalette($gold-base, 8);
$gold-9: colorPalette($gold-base, 9);
$gold-10: colorPalette($gold-base, 10);

$preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime, green, blue, geekblue,
  purple;

$primary-color: #1890ff;
$primary-1: colorPalette($primary-color, 1); // replace tint(@primary-color, 90%)
$primary-2: colorPalette($primary-color, 2); // replace tint(@primary-color, 80%)
$primary-3: colorPalette($primary-color, 3); // unused
$primary-4: colorPalette($primary-color, 4); // unused
$primary-5: colorPalette($primary-color, 5); // color used to control the text color in many active and hover states, replace tint(@primary-color, 20%)
$primary-6: $primary-color; // color used to control the text color of active buttons, don't use, use @primary-color
$primary-7: colorPalette($primary-color, 7); // replace shade(@primary-color, 5%)
$primary-8: colorPalette($primary-color, 8); // unused
$primary-9: colorPalette($primary-color, 9); // unused
$primary-10: colorPalette($primary-color, 10); // unused
$info-color: $primary-color;
$success-color: #52c41a;
$processing-color: $blue-6;
$error-color: $red-5;
$highlight-color: $red-5;
$warning-color: $gold-6;
$normal-color: #d9d9d9;
$white: #fff;
$black: #000;

// Border color
$border-color-base: hsl(0, 0, 85%); // base border outline a component
$border-color-split: hsl(0, 0, 94%); // split border inside a component
$border-color-inverse: $white;
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid; // style of a components border

// Outline
$outline-blur-size: 0;
$outline-width: 2px;
$outline-color: $primary-color;
$outline-fade: 0.8;

$background-color-light: hsl(0, 0, 98%); // background of header and selected item
$background-color-base: hsl(0, 0, 96%); // Default grey background color

// Background color for `<body>`
$body-background: #fff;
// Base background color for most components
$component-background: #fff;
$popover-background: $component-background;
$popover-customize-border-color: $border-color-split;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
$code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$text-color: transparentize($white, 0.15);
$text-color-secondary: transparentize($black, 0.55);
$text-color-inverse: $white;
$icon-color: inherit;
$icon-color-hover: transparentize($black, 0.25);
$heading-color: transparentize($black, 0.15);
$text-color-dark: transparentize($white, 0.15);
$text-color-secondary-dark: transparentize($white, 0.35);
$text-selection-bg: $primary-color;
$font-variant-base: tabular-nums;
$font-feature-settings-base: 'tnum';
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: 12px;
$heading-1-size: ceil($font-size-base * 2.71);
$heading-2-size: ceil($font-size-base * 2.14);
$heading-3-size: ceil($font-size-base * 1.71);
$heading-4-size: ceil($font-size-base * 1.42);
$heading-5-size: ceil($font-size-base * 1.14);
// https://github.com/ant-design/ant-design/issues/20210
$line-height-base: 1.5715;
$border-radius-base: 2px;
$border-radius-sm: $border-radius-base;


// z-index list, order by `z-index`
$zindex-badge: auto;
$zindex-table-fixed: 2;
$zindex-affix: 10;
$zindex-back-top: 10;
$zindex-picker-panel: 10;
$zindex-popup-close: 10;
$zindex-modal: 1000;
$zindex-modal-mask: 1000;
$zindex-message: 1010;
$zindex-notification: 1010;
$zindex-popover: 1030;
$zindex-dropdown: 1050;
$zindex-picker: 1050;
$zindex-popoconfirm: 1060;
$zindex-tooltip: 1070;
$zindex-image: 1080;

// LINK
$link-color: $primary-color;
$link-hover-color: colorPalette($link-color, 5);
$link-active-color: colorPalette($link-color, 7);
$link-decoration: none;
$link-hover-decoration: none;
$link-focus-decoration: none;
$link-focus-outline: 0;

// Animation
$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s; // Tooltip
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

//CollapsePanel
$collapse-panel-border-radius: $border-radius-base;

//Dropdown
$dropdown-menu-bg: $component-background;
$dropdown-vertical-padding: 5px;
$dropdown-edge-child-vertical-padding: 4px;
$dropdown-font-size: $font-size-base;
$dropdown-line-height: 22px;

// The background colors for active and hover states for things like
// list items or table cells.
$item-active-bg: $primary-1;
$item-hover-bg: #f5f5f5;

// Disabled states
$disabled-color: transparentize(#000, 0.75);
$disabled-bg: $background-color-base;
$disabled-color-dark: transparentize(#fff, 0.65);

// Shadow
$shadow-color: rgba(0, 0, 0, 0.15);
$shadow-color-inverse: $component-background;
$shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05),
  0 -12px 48px 16px rgba(0, 0, 0, 0.03);
$shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
  0 12px 48px 16px rgba(0, 0, 0, 0.03);
$shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05),
  -12px 0 48px 16px rgba(0, 0, 0, 0.03);
$shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05),
  12px 0 48px 16px rgba(0, 0, 0, 0.03);
$shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$box-shadow-base: $shadow-2;

// Input
// ---
$input-bg: $component-background;

// TimePicker
// ---
$picker-bg: #0E1624;
$picker-basic-cell-hover-color: $item-hover-bg;
$picker-basic-cell-active-with-range-color: $primary-1;
$picker-basic-cell-hover-with-range-color: lighten($primary-color, 35%);
$picker-basic-cell-disabled-bg: $disabled-bg;
$picker-border-color: $border-color-split;
$picker-date-hover-range-border-color: lighten($primary-color, 20%);
$picker-date-hover-range-color: $picker-basic-cell-hover-with-range-color;
$picker-time-panel-column-width: 56px;
$picker-time-panel-column-height: 224px;
$picker-time-panel-cell-height: 28px;
$picker-panel-cell-height: 24px;
$picker-panel-cell-width: 36px;
$picker-text-height: 40px;
$picker-panel-without-time-cell-height: 66px;

// vertical paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small

// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;

// vertical margins
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

// height rules
$height-base: 32px;
$height-lg: 40px;
$height-sm: 24px;

$input-height-base: $height-base;
$input-height-lg: $height-lg;
$input-height-sm: $height-sm;
$input-padding-horizontal: $control-padding-horizontal - 1px;
$input-padding-horizontal-base: $input-padding-horizontal;
$input-padding-horizontal-sm: $control-padding-horizontal-sm - 1px;
$input-padding-horizontal-lg: $input-padding-horizontal;
$input-padding-vertical-base: max(
  (round((($input-height-base - $font-size-base * $line-height-base) / 2) * 10) / 10) -
    $border-width-base,
  3px
);
$input-padding-vertical-sm: max(
  (round((($input-height-sm - $font-size-base * $line-height-base) / 2) * 10) / 10) -
    $border-width-base,
  0
);
$input-padding-vertical-lg: (
    ceil((($input-height-lg - $font-size-lg * $line-height-base) / 2) * 10) / 10
  ) - $border-width-base;
$input-placeholder-color: hsl(0, 0, 75%);
$input-color: $text-color;
$input-icon-color: $input-color;
$input-border-color: $border-color-base;
$input-bg: $component-background;
$input-hover-border-color: $primary-5;
$input-number-hover-border-color: $input-hover-border-color;
$input-number-handler-active-bg: #f4f4f4;
$input-number-handler-hover-bg: $primary-5;
$input-number-handler-bg: $component-background;
$input-number-handler-border-color: $border-color-base;
$input-addon-bg: $background-color-light;
$input-disabled-bg: $disabled-bg;
$input-outline-offset: 0 0;
$input-icon-hover-color: transparentize($black, 0.15);
$input-disabled-color: $disabled-color;

// Select
// ---
$select-border-color: $border-color-base;
$select-item-selected-color: $text-color;
$select-item-selected-font-weight: 600;
$select-dropdown-bg: $component-background;
$select-item-selected-bg: $primary-1;
$select-item-active-bg: $item-hover-bg;
$select-dropdown-vertical-padding: $dropdown-vertical-padding;
$select-dropdown-font-size: $dropdown-font-size;
$select-dropdown-line-height: $dropdown-line-height;
$select-dropdown-height: 32px;
$select-background: $component-background;
$select-clear-background: $select-background;
$select-selection-item-bg: $background-color-base;
$select-selection-item-border-color: $border-color-split;
$select-single-item-height-lg: 40px;
$select-multiple-item-height: $input-height-base - $input-padding-vertical-base * 2; // Normal 24px
$select-multiple-item-height-lg: 32px;
$select-multiple-item-spacing-half: ceil(($input-padding-vertical-base / 2));
$select-multiple-disabled-background: $input-disabled-bg;
$select-multiple-item-disabled-color: #bfbfbf;
$select-multiple-item-disabled-border-color: $select-border-color;

// Calendar
// ---
$calendar-bg: $component-background;
$calendar-input-bg: $input-bg;
$calendar-border-color: $border-color-inverse;
$calendar-item-active-bg: $item-active-bg;
$calendar-full-bg: $calendar-bg;
$calendar-full-panel-bg: $calendar-full-bg;

// Progress
// --
$progress-default-color: $processing-color;
$progress-remaining-color: $background-color-base;
$progress-text-color: $text-color; // This is for circle text color, should be renamed better
$progress-info-text-color: $progress-text-color;
$progress-radius: 100px;
$progress-steps-item-bg: #f3f3f3;
$progress-text-font-size: 1em;
$progress-circle-text-font-size: 1em;
